body{
    background-color: #8267BE;
    margin: 0;
}
.container{
    margin-top: 5rem;
    text-align: center;
    height: 100vh;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.lucky-number-input{
    width: 12rem;
    padding: 0.4rem;
    border-radius: 1rem;
    border: white;
    outline: none;
}
.lucky-number-button{
    padding: 0.2rem;
    border: none;
    color: white;
    background-color: #1A374D;
    width: 4rem;
    height: 2rem;
    border-radius: 0.85rem;
    position:relative;
}
p{
    font-size: 1.8rem;}

@media (max-width : 500px) {
    p{
        font-size: 1.4rem;
    }
}    